<h1>about ten compliments</h1>
<h3>send 10 compliments to your friends!</h3>
<h2>ten compliments is a fun project I came up with on my birthday. I wanted a way to thank everyone who said "Happy Birthday" to me, so I decided to build an application where I can give them ten compliments, (ten things I love about them!), and allow them to interact with the site too!
</h2>
